In [14]:
n=input("Enter the number: ")
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print("total sum is",sum)

Enter the number:  10

total sum is 55

In [11]:
n = int(input("enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

enter a number:  10

The sum is:  55

In [45]:
unit=int(input("Enter the electricity unit : "))
cost=0
if unit <= 100:
    cost=unit * 4.5
    print("cost of electicity is :" ,cost)
elif unit>100 and unit<=200:
    cost=(100*4.5)+((unit-100) * 6)
    print("cost of electicity is :" ,cost)
elif unit>200 and unit<=300:
    cost= (100*4.5) +((unit-100) * 6)+ (unit-200)*10
    print("cost of electicity is :" ,cost)
else:
    cost=(100*4.5) +((unit-100) * 6)+ ((unit-200)*10)+((unit-300)*20)
    print("cost of electicity is :" ,cost)

Enter the electricity unit :  310

cost of electicity is : 2560

In [50]:
unit=int(input("Enter the electricity unit : "))
cost=0
if unit<=100:
    cost=100*4.5
    print("cost of electicity is :" ,cost)
elif unit>100 and unit<=200:
    cost=(100*4.5)+(unit-100)*6
    print("cost of electicity is :" ,cost)
elif unit>200 and unit<=300:
    cost=(100*4.5)+(100*6)+((unit-200)*10)
else:
    cost=(100*4.5)+(100*6)+(100*10)+((unit-300)*20)
    print("cost of electicity is :" ,cost)

Enter the electricity unit :  310

cost of electicity is : 2250.0

In [53]:
i = 1
while i <=6:=
  print(i)
  i += 1

1
2
3
4
5
6

In [12]:
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [25]:
L=list(range(1,100))
c=[]
print(L)
for i in L:
    p=i*i*i
    print("cube is",p)
    if p%4==0 or p%5==0:
        c.append(p)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
cube is 1
cube is 8
cube is 27
cube is 64
cube is 125
cube is 216
cube is 343
cube is 512
cube is 729
cube is 1000
cube is 1331
cube is 1728
cube is 2197
cube is 2744
cube is 3375
cube is 4096
cube is 4913
cube is 5832
cube is 6859
cube is 8000
cube is 9261
cube is 10648
cube is 12167
cube is 13824
cube is 15625
cube is 17576
cube is 19683
cube is 21952
cube is 24389
cube is 27000
cube is 29791
cube is 32768
cube is 35937
cube is 39304
cube is 42875
cube is 46656
cube is 50653
cube is 54872
cube is 59319
cube is 64000
cube is 68921
cube is 74088
cube is 79507
cube is 85184
cube is 91125
cube is 97336
cube is 103823
cube is 110592
cube is 117649
cube is 125000
cube is 132651
cube is 140608
cube is 148877
cube is 157464
cube is 166375
cube is 175616
cube is 185193
cube is 195112
cube is 205379
cube is 216000
cube is 226981
cube is 238328
cube is 250047
cube is 262144
cube is 274625
cube is 287496
cube is 300763
cube is 314432
cube is 328509
cube is 343000
cube is 357911
cube is 373248
cube is 389017
cube is 405224
cube is 421875
cube is 438976
cube is 456533
cube is 474552
cube is 493039
cube is 512000
cube is 531441
cube is 551368
cube is 571787
cube is 592704
cube is 614125
cube is 636056
cube is 658503
cube is 681472
cube is 704969
cube is 729000
cube is 753571
cube is 778688
cube is 804357
cube is 830584
cube is 857375
cube is 884736
cube is 912673
cube is 941192
cube is 970299
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]

In [47]:
string = "i want to become a data scientist"
count=0
i=0
for i in range(len(string)):
    if (
        (string[i] == "a")
        or (string[i] == "e")
        or (string[i] == "i")
        or (string[i] == "o")
        or (string[i] == "u")
    ):
        count=count+1
print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  12

In [45]:
# Program: Count number of vowels in a String in Python

example = "I want to become a data scientist"

# initializing count variable
count = 0

# declaring a variable for index
i = 0

# iterate over the given string (example)
# len(example) -> gives the length of the string in Python

for i in range(len(example)):
    if (
        (example[i] == "a")
        or (example[i] == "e")
        or (example[i] == "i")
        or (example[i] == "o")
        or (example[i] == "u")
    ):
        count += 1

print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  11